@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=ADLaM+Display&display=swap');
body{
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
} 